@{
    ViewBag.Title = "About";
}
<div id="abouttab">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    

    <p>Using SPM Monitoring System RESTful API. API configuration file located in Config\config.cfg</p>
</div>
