@{
    ViewData["Title"] = "About";
}

<div id="abouttab">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>


    <p>Using SPM Monitoring System RESTful API. API configuration file located in Config\config.cfg</p>
</div>